<!DOCTYPE html>
<html lang="en">
    <head>
        <Title>Into</Title>
    </head>
    <body>
        {%with msgs = get_flashed_messages()%}
        {%for msg in msgs%}
        <h2>{{msg}}</h2>
        {%endfor%}
        {%endwith%}
        <h1>{{surveyQuestion}}</h1>
    <form action="http://localhost:5000/submitted/{{num}}" method="POST">
        <input type="submit" name="answer" value="{{surveyChoice1}}">
    </form>
    <form action="http://localhost:5000/submitted/{{num}}" method="POST">
        <input type="submit" name="answer" value="{{surveyChoice2}}">
    </form>
    </body>
</html>